[[source]]
url = "https://artifactory.metro.ad.selinc.com/artifactory/api/pypi/sel-pypi/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
beautifulsoup4 = "*"
requests = "*"
selenium = "*"
attrs = "*"

[dev-packages]

[requires]
python_version = "3.10"
