# [[source]]
# url = "https://artifactory.metro.ad.selinc.com/artifactory/api/pypi/sel-pypi/simple"
# verify_ssl = false
# name = "pip_conf_index_global"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
pandas = "*"
requests = "*"
selenium = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
mypy = "*"
types-requests = "*"
pandas-stubs = "*"

[requires]
python_version = "3.12"
